<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="debugenabled">
         <with
               variable="debugEnabled">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.egit.ui.internal.clone.gitclonecategory"
            class="com.clevercloud.eclipse.plugin.ui.wizards.ImportWizard"
            icon="icons/clever16.png"
            id="com.clevercloud.eclipse.plugin.ui.wizards.importCleverWizard"
            name="Import from Clever Cloud">
      </wizard>
   </extension>
   <extension
         id="clevernature"
         name="CleverNature"
         point="org.eclipse.core.resources.natures">
     <runtime>
       <run
	   class="com.clevercloud.eclipse.plugin.CleverNature">
       </run>
     </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               icon="icons/clever16.png"
               label="Clever Cloud">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="clever-eclipse.clevernature">
                              </test></not>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            <command
                  commandId="com.clevercloud.eclipse.plugin.command.appLinkerCommand"
                  icon="icons/application_link.png"
                  label="Link to an existing app"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/clever16.png"
               label="Clever Cloud">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="clever-eclipse.clevernature">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            <command
                  commandId="com.clevercloud.eclipse.plugin.command.logCommand"
                  icon="icons/application_osx_terminal.png"
                  label="Application logs"
                  style="push">
            </command>
            <command
                  commandId="com.clevercloud.eclipse.plugin.command.redeployCommand"
                  icon="icons/application_go.png"
                  label="Redeploy application"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Clever Cloud">
            <command
                  commandId="com.clevercloud.eclipse.plugin.command.consoleCommand"
                  icon="icons/clever16.png"
                  label="Console"
                  style="push">
            </command>
            <command
                  commandId="com.clevercloud.eclipse.plugin.command.disconnectionCommand"
                  icon="icons/disconnect.png"
                  label="Disconnect"
                  style="push">
            </command>
            <command
                  commandId="com.clevercloud.eclipse.plugin.command.creditsCommand"
                  icon="icons/information.png"
                  label="Credits"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.clevercloud.eclipse.plugin.toolbar.0">
            <command
                  commandId="com.clevercloud.eclipse.plugin.command.consoleCommand"
                  icon="icons/clever.png"
                  label="Console"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.clevercloud.eclipse.plugin.handlers.ConsoleHandler"
            commandId="com.clevercloud.eclipse.plugin.command.consoleCommand">
      </handler>
      <handler
            class="com.clevercloud.eclipse.plugin.handlers.DisconnectionHandler"
            commandId="com.clevercloud.eclipse.plugin.command.disconnectionCommand">
      </handler>
      <handler
            class="com.clevercloud.eclipse.plugin.handlers.CreditsHandler"
            commandId="com.clevercloud.eclipse.plugin.command.creditsCommand">
      </handler>
      <handler
            class="com.clevercloud.eclipse.plugin.handlers.AppLinkerHandler"
            commandId="com.clevercloud.eclipse.plugin.command.appLinkerCommand">
      </handler>
      <handler
            class="com.clevercloud.eclipse.plugin.handlers.LogHandler"
            commandId="com.clevercloud.eclipse.plugin.command.logCommand">
      </handler>
      <handler
            class="com.clevercloud.eclipse.plugin.handlers.AppRedeployHandler"
            commandId="com.clevercloud.eclipse.plugin.command.redeployCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.clevercloud.eclipse.plugin.command.consoleCommand"
            name="Console">
      </command>
      <command
            id="com.clevercloud.eclipse.plugin.command.disconnectionCommand"
            name="Disconnect">
      </command>
      <command
            id="com.clevercloud.eclipse.plugin.command.creditsCommand"
            name="Credits">
      </command>
      <command
            id="com.clevercloud.eclipse.plugin.command.appLinkerCommand"
            name="AppLinker">
      </command>
      <command
            id="com.clevercloud.eclipse.plugin.command.logCommand"
            name="Log">
      </command>
      <command
            id="com.clevercloud.eclipse.plugin.command.redeployCommand"
            name="Redeploy">
      </command>
   </extension>
   <extension
         point="org.eclipse.mylyn.commons.notifications.ui.notifications">
     <event
	 categoryId="com.clevercloud.eclipse.plugin.notification.category"
         id="com.clevercloud.eclipse.plugin.notification.event"
         label="Build Service Changed"/>
     <category
         icon="icons/clever16.png"
         id="com.clevercloud.eclipse.plugin.notification.category"
         label="Clever Cloud"/>
   </extension>
</plugin>
